<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{movie.title}}<br>
    {{movie.title_en}}<br>
    {{movie.audience}}<br>
    {{movie.open_date}}<br>
    {{movie.genre}}<br>
    {{movie.score}}<br>
    {{movie.watch_grade}}<br>
    {{movie.poster_url}}<br>
    {{movie.description}}<br>
<a href="/movies/{{movie.pk}}/update">[수정하기]</a>
<a href="/movies/">[뒤로가기]</a>
</body>
</html>
